body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), 
    url("images/bg.jpg") ;

}
@media screen and (max-width: 480px) {
    body {
        font-size: 14px; 
    }
}
.title {
  text-align: center;
  color: white;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.description {
  text-align: center;
  color: #ffe24f;
  font-size: 18px;
  margin-bottom: 20px;
}

.keys {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.keys .key {

    padding: 2rem;
    margin: 1rem;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.6);
    border-style: solid;
    transition: all 0.08s ease;
    border-radius: 5px;
    width : 20%;
    text-align: center;
}
kbd {
    display: block;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: lighter;
    color: rgb(255, 255, 255, 0.8);
}
/* tablette */
@media screen and (max-width: 768px){
    .keys .key {

    padding: 1.5rem;
    width : 30%;
}
    .kbd {

    font-size: 1.5rem;
}
}
/* smartphone */
@media screnn and (max-width: 470){
        .keys .key {

    padding: 1rem;
    width : 40%;
    }
    .kbd {

    font-size: 1rem;
}
}
.key:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.playing {
    transform: scale(1.2);
    border-color: #d8b60b;
    box-shadow: 0 0 10px #d8b60b; 
    background-color:rgb(0, 0, 0, 0.6);
}
.sound {
    font-size: 16px;
    color: #ffe24f;

}